
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="console" xsi:type="ColoredConsole" layout="${longdate}|${level}|${stacktrace}|${message}"/>
    <target name="file" lineEnding="CRLF" xsi:type="file" filename="${basedir}/LOG/${shortdate}/debug.txt" layout="${longdate}|${level}|${message}"/>

    <target name="Raw" xsi:type="file" filename="${basedir}/LOG/${shortdate}/RAW.txt"
  layout="${longdate}|${level}|${message}"/>
    
  </targets>
  <rules>
    <logger name="*" minlevel="debug" writeTo="file,console"/>
    <logger name="Raw" minlevel="debug" writeTo="Raw"/>
  </rules>

</nlog> 